*~
doc/html
Makefile
*.dylib
*.o
*.a
moc_*.cpp
*.pro.user
*.moc
lib*.so
lib*.so.*
.qmake.cache
include/QtAddOnJsonStream/*
lib/cmake/*
lib*.la
lib*.prl
module-paths/*
src/qtaddonjsonstreamversion.h
lib/pkgconfig/*
